@model TrackerSystem.Models.User
@{
    Layout = null;

}


<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/Login.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 2px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="main-bg">
    <div class="login-container text-c animated flipInX">
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <h3 style="color:chocolate">Trackerz</h3>
        <p class="text-whitesmoke">Login</p>
        <div class="container-content">
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post, new { htmlAttributes = new { @class = "margin-t" } }))
            {
                <table>

                    <tr>
                        <td>
                        </td>

                        <td style="width:100%">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Username) } })
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>@Html.ValidationMessageFor(model => model.Username) </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Password) } })
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>@Html.ValidationMessageFor(model => model.Password) </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage) </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" class="form-button button-l margin-b" name="name" value="Sign in" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        @*<td><a class="text-darkyellow" href="#"><small>Forgot your password?</small></a></td>*@
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="text-whitesmoke text-center"><small>Do not have an account?</small></div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a class="text-darkyellow" href="@Url.Action("AddOrEdit","Login")"><small>Sign Up</small></a></td>
                    </tr>
                </table>
            }
            <p class="margin-t text-whitesmoke" style="color:chocolate"><small> TrackerzApp &copy; 2021</small> </p>

        </div>
    </div>
</body>
</html>
